@charset "UTF-8";

/* 공통영역 */
* { padding: 0; margin: 0 auto; }
html.body { height: 100%; }
header{ border-bottom: 1px solid grey;}
input { text-indent: 10px; }
input::placeholder { font-size: 11px; }

a:link { color: black; text-decoration: none; }
a:visited { color: black; text-decoration: none; }
a:hover { color: grey; text-decoration: none; }

.heart a:hover { color: red; text-decoration: none; }
.recommend .heart a:link { color: red; text-decoration: none; }

.btn { padding: 3px 12px; font-size: 12px; }
.loginSection { overflow: hidden; text-align: center; padding: 30px 0 30px 0; margin-bottom:20px;}

.logout { margin-top: 20px; }

@media ( min-width : 769px) {

}

@media ( max-width : 768px) {
	
.login {
	padding: 18px;
	line-height: 30px;
	margin-bottom: 10px;
}

input[name^="userid"] {
	margin-bottom: 18px;
}
	
}