@charset "UTF-8";

input {
	text-indent: 10px;
	}

.searchForm {
	margin-bottom: 15px;
	}

#joinForm input {
	width: 80%;
	}

@media(min-width:769px) {
	select {
		padding: 3px;
		border-radius: 3px;
	}
}

@media(max-width:768px) {
	select {
		padding: 2px 0;
		border-radius: 3px;
	}
}