@charset "UTF-8";

#commentForm {
	margin-bottom: 30px;
}

article:nth-child(2) {
	padding-top:20px;
	margin-top: 8px;
	border-top: 1px solid grey; 
}

.commentSection {
	text-align: center;
	padding:30px 0;
	margin: 10px 0;
	border-top: 2px solid grey;
	border-bottom: 2px solid grey; 
}

.contentSection {
	min-height: 400px;
}

.commentInput > input {
	width: 100%;
}

.comments {
    padding: 15px 0;
    overflow: hidden;
    border-top: thin solid #ccc;
}

.comments span:not(.text-left) {
    margin-top: 2px;
}